/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";


// https://colorhunt.co/palette/36ba98e9c46af4a261e76f51
// $oneColor: #4793AF;
// $twoColor: #DD5746;
// $threeColor: #8B322C;


$whiteColor : #ffffff;
$grayColor: #bababa;
$oneColor: #0A6847;
$twoColor: #7ABA78;
$threeColor: #F3CA52;
$fourColor : #E88D67;
