<nz-layout>
    <div class="header">
        <!-- Text Header -->
        <div nz-row>
            <div style="margin: 8px;">
                VDT0320 : ข้อมูลที่ต้องการค้นหา
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="5" class="header-text">
                เลขที่ใบสรุป
            </div>
            <div nz-col nzSpan="5" class="header-text">
                วันที่
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="5" class="inputModal">
                <input nz-input [(ngModel)]="input_vdtNo" type="text" />
            </div>
            <div nz-col nzSpan="5" class="inputModal">
                <input nz-input bsDatepicker [(ngModel)]="input_date" style="width: 100%;" ype="text">
            </div>
            <div nz-col nzSpan="5">
                <button nz-button class="searchBtn">ค้นหา</button>
            </div>
        </div>
    </div>

    <div class="detail">
        <!-- Text Header -->
        <div nz-row>
            <div style="margin: 8px;">
                VDT0320 : ข้อมูลแบบ ภ.พ.10
            </div>
        </div>

        <!-- content -->
        <div nz-row>
            <!-- Left -->
            <div nz-col class="detail-box-input" style="margin-bottom: 20px;">
                <!-- row 1 -->
                <div nz-row nzJustify="center">
                    <div nz-col nzSpan="9" style="margin-left: 20px;">
                        เล่มที่
                    </div>
                    <div nz-col nzSpan="9" style="margin-left: 20px;">
                        เลขที่
                    </div>
                </div>
                <!-- row 2 -->
                <div nz-row nzJustify="center">
                    <div nz-col nzSpan="9" class="inputModal">
                        <input nz-input [(ngModel)]="input_noBook" type="text" />
                    </div>
                    <div nz-col nzSpan="9" class="inputModal">
                        <input nz-input [(ngModel)]="input_noNumber" type="text" />
                    </div>
                </div>
                <!-- row 3 -->
                <div nz-row nzJustify="center" style="margin-top: 20px;">
                    <div nz-col nzSpan="9" style="margin-left: 20px;">
                        วันที่จัดทำ ภ.พ.10
                    </div>
                    <div nz-col nzSpan="9" style="margin-left: 20px;">
                        ยอดซื้อ
                    </div>
                </div>
                <!-- row 4 -->
                <div nz-row nzJustify="center">
                    <div nz-col nzSpan="9" class="inputModal">
                        <!-- <input nz-input [(ngModel)]="input_dateOfPreparation" type="text" /> -->
                        <input nz-input bsDatepicker [(ngModel)]="input_dateOfPreparation" style="width: 100%;" ype="text">
                    </div>
                    <div nz-col nzSpan="9" class="inputModal">
                        <input nz-input [(ngModel)]="input_purchaseAmount" type="text" placeholder="0.00"
                            (input)="formatInputMoney($event)" />
                    </div>
                </div>
                <!-- row 5 -->
                <div nz-row nzJustify="center">
                    <div nz-col nzSpan="9" style="margin-left: 20px; text-align: right;">
                        เลขประจำตัวผู้เสียภาษีอากร
                    </div>
                    <div nz-col nzSpan="9" class="inputModal">
                        <input nz-input [(ngModel)]="input_taxId" type="text" (input)="onInputChange_taxId($event)" />
                    </div>
                </div>
                <!-- row 6 -->
                <div nz-row nzJustify="center">
                    <div nz-col nzSpan="9" style="margin-left: 20px; text-align: right;">
                        สาขาที่
                    </div>
                    <div nz-col nzSpan="9" class="inputModal">
                        <input nz-input [(ngModel)]="input_branch" type="text" (input)="onInputChange_branch($event)" />
                    </div>
                </div>
                <!-- row 7  -->
                <div nz-row nzJustify="center">
                    <div nz-col nzSpan="9" style="margin-left: 20px; text-align: right;">
                        ชื่อสถานประกอบการ
                    </div>
                    <div nz-col nzSpan="9" class="inputModal">
                        <input nz-input [(ngModel)]="input_companyName" type="text" />
                    </div>
                </div>
            </div>
            <!-- right -->
            <div nz-col class="detail-box-vat">
                <!-- row 1 -->
                <div nz-row nzJustify="center" style="margin-top: 5px;">
                    <div nz-col nzSpan="9" style="margin-right: 40px; text-align: right;">
                        Vat 7%
                    </div>
                    <div nz-col nzSpan="9" style="margin-left: 40px;">
                        {{cal_purchaseAmount_vat}}
                    </div>
                </div>
                <!-- row 2 -->
                <div nz-row nzJustify="center" style="margin-top: 5px;">
                    <div nz-col nzSpan="9" style="margin-right: 40px; text-align: right;">
                        ภาษีที่ได้รับคือ(กรมสรรพากร)
                    </div>
                    <div nz-col nzSpan="9" style="margin-left: 40px;">
                        {{cal_purchaseAmount_refund_revenue}}
                    </div>
                </div>
                <!-- row 3 -->
                <div nz-row nzJustify="center" style="margin-top: 5px;">
                    <div nz-col nzSpan="9" style="margin-right: 40px; text-align: right;">
                        ภาษีที่ได้รับคืนจากตัวแทน
                    </div>
                    <div nz-col nzSpan="9" style="margin-left: 40px;">
                       {{cal_purchaseAmount_refund_agent}}
                    </div>
                </div>
                <!-- row 4 -->
                <div nz-row nzJustify="center" style="margin-top: 5px;">
                    <div nz-col nzSpan="9" style="margin-right: 40px; text-align: right;">
                        ค่าธรรมเนียมในการคืน
                    </div>
                    <div nz-col nzSpan="9" style="margin-left: 40px;">
                        {{cal_purchaseAmount_refund_fee}}
                    </div>
                </div>
            </div>
        </div>
        <div nz-row>
            <button nz-button class="addtoTableBtn" (click)="addtoTable()">เพิ่ม</button>
        </div>

        <!-- Table -->
        <nz-table #basicTable [nzData]="listdata" [nzShowPagination]="false">
            <thead>
                <tr>
                    <th nzWidth="6%">เล่มที่อ้างอิงการขาย</th>
                    <th nzWidth="6%">เลขที่อ้างอิงการขาย</th>
                    <th nzWidth="6%">วันที่จัดทำ ภ.พ.10</th>
                    <th nzWidth="10%">ชื่อสถานประกอบการ</th>
                    <th nzWidth="10%">ยอดซื้อ</th>
                    <th nzWidth="6%">ภาษีมูลค่าเพิ่ม</th>
                    <th nzWidth="6%">ภาษีที่ได้รับคืน (กรมสรรพากร)</th>
                    <th nzWidth="6%">ภาษีที่ได้รับคืน (ตัวแทน)</th>
                    <th nzWidth="6%">ค่าธรรมเนียมในการคืน</th>
                    <th nzWidth="2%">X</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of listdata">
                    <td>{{ data.noBook }}</td>
                    <td>{{ data.noNumber }}</td>
                    <td>{{ data.dateOfPreparation }}</td>
                    <td>{{ data.companyName }}</td>
                    <td>{{ data.purchaseAmount }}</td>
                    <td>{{ data.vat }}</td>
                    <td>{{ data.taxRefundRevenue }}</td>
                    <td>{{ data.taxRefundAgent }}</td>
                    <td>{{ data.taxRefundFee }}</td>
                    <td>/ X</td>
                </tr>
            </tbody>
        </nz-table>

        <div nz-row style="margin-bottom: 20px; text-align: center;">
            <div nz-col nzSpan="6"></div>
            <div nz-col nzSpan="6">
                <button nz-button class="addTableToDataBaseBtn">บันทึก</button>
                <button nz-button class="printBtn">พิมพ์ใบสรุป</button>
            </div>
            <div nz-col nzSpan="6">
                <button nz-button class="clearBtn">ล้างจอภาพ</button>
            </div>
            <div nz-col nzSpan="6"></div>
        </div>
    </div>

</nz-layout>