<div nz-row nzJustify="center" [nzGutter]="16">
    <div class="header-text">
        <p style="font-size: 30px;">course</p>
    </div>
</div>

<div nz-row nzJustify="center" *ngFor="let course of listCourse let i =index">
    <div nz-col nzSpan="8" class="list-course" (click)="linkToCourse(course)">
        <p>
            {{ course.courseName }}
        </p>
    </div>
    <div nz-col nzSpan="6" class="list-count-course">
        <div nz-row>
            <div nz-col [nzSpan]="calculateSpan(course.numberLesson.length)" class="lesson-box"
                *ngFor="let lesson of course.numberLesson"
                [ngStyle]="{
                    'background-color' : course.lessons[lesson] ? '#B6C7AA' : '#F6E6CB'
                }">
                <p>{{ lesson }}</p>
            </div>
        </div>
    </div>
    <div nz-col nzSpan="1" class="list-course-study">
        <p>
            {{ course.numStudy }} /{{course.numberLesson.length}}
        </p>
    </div>

</div>

<div nz-row nzJustify="center" [nzGutter]="16" style="margin-top: 100px;">
    <button nz-button nzType="default"  (click)="logout()">logout</button>
</div>