<div style="margin: 5%; display: flex; flex-wrap: wrap; gap: 1rem; justify-content: center;">
    <mat-card style="width: 300px;">
        <mat-card-header style="justify-content: center;">
            <mat-card-title>URANGOTAN</mat-card-title>
            <mat-card-subtitle>pure</mat-card-subtitle>
        </mat-card-header>
        <img src="../../../assets/tele3.jpg"/>
        <mat-card-content><p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, est delectus laboriosam voluptatem nesciunt iste possimus numquam aperiam quia esse asperiores exercitationem, pariatur doloribus ipsam. Molestiae modi ab inventore consectetur.
        </p></mat-card-content>
        <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
            <button mat-button><mat-icon>share</mat-icon>Share</button>
        </mat-card-actions>
        <mat-card-footer>2024</mat-card-footer>
    </mat-card>

    <mat-card style="width: 300px;">
        <mat-card-header style="justify-content: center;">
            <mat-card-title>URANGOTAN</mat-card-title>
            <mat-card-subtitle>pure</mat-card-subtitle>
        </mat-card-header>
        <img src="../../../assets/tele3.jpg"/>
        <mat-card-content><p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, est delectus laboriosam voluptatem nesciunt iste possimus numquam aperiam quia esse asperiores exercitationem, pariatur doloribus ipsam. Molestiae modi ab inventore consectetur.
        </p></mat-card-content>
        <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
            <button mat-button><mat-icon>share</mat-icon>Share</button>
        </mat-card-actions>
        <mat-card-footer>2024</mat-card-footer>
    </mat-card>

    <mat-card style="width: 300px;">
        <mat-card-header style="justify-content: center;">
            <mat-card-title>URANGOTAN</mat-card-title>
            <mat-card-subtitle>pure</mat-card-subtitle>
        </mat-card-header>
        <img src="../../../assets/tele3.jpg"/>
        <mat-card-content><p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, est delectus laboriosam voluptatem nesciunt iste possimus numquam aperiam quia esse asperiores exercitationem, pariatur doloribus ipsam. Molestiae modi ab inventore consectetur.
        </p></mat-card-content>
        <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
            <button mat-button><mat-icon>share</mat-icon>Share</button>
        </mat-card-actions>
        <mat-card-footer>2024</mat-card-footer>
    </mat-card>

    <mat-card style="width: 300px;">
        <mat-card-header style="justify-content: center;">
            <mat-card-title>URANGOTAN</mat-card-title>
            <mat-card-subtitle>pure</mat-card-subtitle>
        </mat-card-header>
        <img src="../../../assets/tele3.jpg"/>
        <mat-card-content><p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, est delectus laboriosam voluptatem nesciunt iste possimus numquam aperiam quia esse asperiores exercitationem, pariatur doloribus ipsam. Molestiae modi ab inventore consectetur.
        </p></mat-card-content>
        <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
            <button mat-button><mat-icon>share</mat-icon>Share</button>
        </mat-card-actions>
        <mat-card-footer>2024</mat-card-footer>
    </mat-card>

    <mat-card style="width: 300px;">
        <mat-card-header style="justify-content: center;">
            <mat-card-title>URANGOTAN</mat-card-title>
            <mat-card-subtitle>pure</mat-card-subtitle>
        </mat-card-header>
        <img src="../../../assets/tele3.jpg"/>
        <mat-card-content><p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, est delectus laboriosam voluptatem nesciunt iste possimus numquam aperiam quia esse asperiores exercitationem, pariatur doloribus ipsam. Molestiae modi ab inventore consectetur.
        </p></mat-card-content>
        <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
            <button mat-button><mat-icon>share</mat-icon>Share</button>
        </mat-card-actions>
        <mat-card-footer>2024</mat-card-footer>
    </mat-card>

    <mat-card style="width: 300px;">
        <mat-card-header style="justify-content: center;">
            <mat-card-title>URANGOTAN</mat-card-title>
            <mat-card-subtitle>pure</mat-card-subtitle>
        </mat-card-header>
        <img src="../../../assets/tele3.jpg"/>
        <mat-card-content><p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, est delectus laboriosam voluptatem nesciunt iste possimus numquam aperiam quia esse asperiores exercitationem, pariatur doloribus ipsam. Molestiae modi ab inventore consectetur.
        </p></mat-card-content>
        <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
            <button mat-button><mat-icon>share</mat-icon>Share</button>
        </mat-card-actions>
        <mat-card-footer>2024</mat-card-footer>
    </mat-card>
</div>